.btn {
  @include btnGeneric;
  color: $white;
  @include flexCenter;
  text-align: center;
  padding: 1rem 2rem;
  min-width: 10rem;

  &-outline {
    color: $primary;
    border: 1px solid $primary;
    background-color: transparent;
    transition: all 0.3s;

    &.active {
      background-color: $primary;
      border: 1px solid $primary;
      color: $white;
    }

    &:hover {
      background-color: rgba($primary, 0.8);
      border: 1px solid $primary;
      color: $white;
    }
  }

  &-primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;

    &:hover {
      background-color: rgba($primary, 0.8);
    }

    &:disabled {
      background-color: rgba($primary, 0.5);
      border-color: transparent;
    }
  }
}
