//fonts
$primaryFont: 'Mulish Regular';
$boldFont: 'Mulish Bold';
$light: 'Mulish Light';

//colors
$primary: #110b56;
$secondary: #110b56;
$white: #ffffff;
$dark: #110b56;

$success: #50b83c;
$danger: #f52d56;

$black: #000000;
$light-grey: #fafafa;
$grey-c: #cccccc;
$grey-f: #f0f3f5;
$grey-9: #999999;
$grey-6: #666666;
$border: #eff0f6;
